{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 90,

  "vueIndentScriptAndStyle": false,

  "htmlWhitespaceSensitivity": "ignore",

  "bracketSpacing": true,

  "trailingComma": "none"
}